@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
 --police-titre:'Lato';
 --police-paragraphe:'Open sans'
}

.first_input{
    display:flex;
    justify-content: space-around;
}
.form{
    display:flex
}

.form-control,.select-option{
    padding: 22px;
    border-radius: 8px;
}
.form-control::placeholder {
    color: #6c757d; 
    
}

.btn-custom {
    border: none;
    width: 100%;
    height: 50px;
    font-size: 25px;
    background: #0e2442;
    color: white;
    border-radius: 8px;
    text-align: center;
}

.btn-custom:hover {
    background: white;
    color: #0e2442;
}
.img-fluid{
    height: 90vh;
    border-radius: 10px;
    
}


